div.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.spaceTask {
  background-color: #e9e9e9;
  border: 1px solid;
  border-radius: 10px;
  width: 70vw;
  min-height: 80px;
  max-height: 90vh;
  overflow: hidden;
  overflow-y: auto;
}

.spaceTask ul {
  padding: 0;
}

.spaceTask li {
  display: flex;
  position: relative;
  background-color: #a97ffc;
  border-bottom: 1px solid;
  padding: 15px;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  text-align: justify;
}

.spaceTask li p {
  margin-right: 65px;
}

.checked {
  text-decoration: line-through;
}

.spaceTask li #done {
  position: absolute;
  right: 40px;
  max-width: 27px;
  cursor: pointer;
}

.spaceTask li #delet {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.addTask {
  margin-bottom: 30px;
  width: 475px;
}

.addTask input {
  width: 73%;
  height: 30px;
  border: 1px solid #000000;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  font-size: 1.3rem;
  outline: none;
}

.addTask button {
  width: 25%;
  height: 34px;
  background-color: #8857ec;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.3rem;
}